{% extends 'template.html' %}

{% block title %}
  Google BigQuery
{% endblock %}


{% block body %}
<div>
    <form name='form' id='form' method="POST"">
        <p>type keyfile directory</p>
        <form method="POST">
        <input name="key-file">
        <p>type project id</p>
        <form method="POST">
        <input name="project-id">
        <p>type destination uri </p>
        <form method="POST">
        <input name="destination">
        <p>type dataset(will be created if not exists)</p>
        <form method="POST">
        <input name="dataset">
        <p>type table(will be created if not exists)</p>
        <form method="POST">
        <input name="table">
        <button type="submit">go</button>
    </form>
    
</div>

{% endblock %}